node_modules
.next
.env
.env.local
.terraform
terraform.tfstate
terraform.tfstate.backup
infra/.terraform
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/terraform.tfvars
*.log
dist
*.tsbuildinfo
